
.scroll-horizontal{
    white-space: normal;
    overflow-x: scroll;
    overflow-y: hidden;
}
.scroll-face--white::-webkit-scrollbar{
    background: white;
}
.scroll-face--white::-webkit-scrollbar-thumb {
    border: 2px solid white;
    background-color: grey; 
}
.scroll-face--dark::-webkit-scrollbar{
    background: black;
}
.scroll-face--dark::-webkit-scrollbar-thumb {
    border: 2px solid black;
    background-color: rgb(31, 32, 36); 
}